.App {
  width: 400px;
}

.AppError {
  width: 100%;
  margin: 10px;
}

.InputsPanel {
  width: 359px;
}

.ReactCollapse--collapse {
  transition: height 250ms;
  margin: 0;
}

.ReactCollapse--content {
  margin-left: 10px;
}